### Imports

In [20]:
import pandas as pd

### Defining important methods

In [21]:
def print_initial_df(df: pd.DataFrame) -> None:
    print("Initial DataFrame:\n")
    print(df.head())  # Print only the first 5 rows

def delete_column_df(df: pd.DataFrame, column_name: str) -> pd.DataFrame:

    if column_name in df.columns: 
        return df.drop(columns=[column_name])
    else:
        print(f"⚠️ Warning: Column '{column_name}' not found in DataFrame. Skipping drop.")
        return df

def count_amount_of_rows_in_df(df: pd.DataFrame) -> None:

    num_rows = df.shape[0]
    print(f"The DataFrame has {num_rows} rows.\n")

def count_nulls_in_columns(df: pd.DataFrame) -> None:
    """Prints the number of null values in each column."""
    null_counts = df.isnull().sum()
    print("Number of null values in each column:")
    for column, null_count in null_counts.items():
        print(f"Column: '{column}' has {null_count} null values. \n")

### Initial dataframe

In [22]:
salaries_df = pd.read_csv("data_science_job.csv", index_col=0)
print_initial_df(salaries_df)

Initial DataFrame:

                                      job_title  job_category salary_currency  \
work_year
2022       Machine Learning Engineer  in office      Analysis             EUR
2020                     Statistician  (Remote)         ML/AI             JPY
2022                Machine Learning Engineer           ML/AI             INR
2022                    Data Analyst  in office         ML/AI             JPY
2020                             Statistician    Data Science             EUR

           salary  salary_in_usd employee_residence experience_level  \
work_year
2022       186597         136086                 US               MI
2020       110630          67982                 JP               EX
2022        61280         153309                 UK               MI
2022       154130         135242                 DE               SE
2020       172312          35156                 UK               MI

          employment_type work_setting company_location company_size
work_year
2022                   CT       Remote               DE            L
2020                   FL       Remote               IN            M
2022                   CT       Hybrid               CN            L
2022                   FT       Hybrid               MX            L
2020                   FT    In-person               UK            S

### Make copy of the initial dataset

In [23]:
salaries_df_copy = salaries_df.copy()
print("Copy of the DataFrame:\n")
print(salaries_df_copy.head())

Copy of the DataFrame:

                                      job_title  job_category salary_currency  \
work_year
2022       Machine Learning Engineer  in office      Analysis             EUR
2020                     Statistician  (Remote)         ML/AI             JPY
2022                Machine Learning Engineer           ML/AI             INR
2022                    Data Analyst  in office         ML/AI             JPY
2020                             Statistician    Data Science             EUR

           salary  salary_in_usd employee_residence experience_level  \
work_year
2022       186597         136086                 US               MI
2020       110630          67982                 JP               EX
2022        61280         153309                 UK               MI
2022       154130         135242                 DE               SE
2020       172312          35156                 UK               MI

          employment_type work_setting company_location company_size
work_year
2022                   CT       Remote               DE            L
2020                   FL       Remote               IN            M
2022                   CT       Hybrid               CN            L
2022                   FT       Hybrid               MX            L
2020                   FT    In-person               UK            S

### Print initial rows in the dataset

In [24]:
print("Initial amount of rows in the DataFrame:")
count_amount_of_rows_in_df(salaries_df_copy)

Initial amount of rows in the DataFrame:
The DataFrame has 5000 rows.

### Count null values for each column

In [ ]:
count_nulls_in_columns(salaries_df_copy)